[Unit]
Description=pgagent unit file for database %i
After=postgresql.service

[Service]
CPUAccounting=yes
MemoryAccounting=yes
TasksAccounting=yes
Type=forking
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=pgagent_%i
User=postgres
Group=postgres
EnvironmentFile=/etc/pgagent/%i.conf
PermissionsStartOnly=true
PG_AGENT_HOST_ADDR={{ pgagent_hostaddr }}
ExecStart=/usr/bin/pgagent -s /var/log/pgagent/%i.log -t ${PG_AGENT_POLL_INTERVAL} -r ${PG_AGENT_RETRY_PERIOD} -l ${PG_AGENT_LOG_VERBOSITY} hostaddr=${PG_AGENT_HOST_ADDR} dbname=%i user=postgres port=${PG_AGENT_TARGET_PORT}
Restart=on-failure

[Install]
WantedBy=multi-user.target